In [2]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
from pysparkling import *
import os
import getpass
import pandas as pd
import csv
import us
import h2o
import pyspark.sql.functions as sf
from pyspark.sql.window import Window
import sys

In [3]:
os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages "org.apache.hadoop:hadoop-aws:2.7.4" pyspark-shell'

In [4]:
sc = SparkContext.getOrCreate()
ss = SparkSession.builder.getOrCreate()
hc = H2OContext.getOrCreate(ss)

Connecting to H2O server at http://10.1.150.140:54323 ... successful.

--------------------------  ------------------------------------------------------------------
H2O cluster uptime:         12 secs
H2O cluster timezone:       America/Los_Angeles
H2O data parsing timezone:  UTC
H2O cluster version:        3.28.0.1
H2O cluster version age:    30 days
H2O cluster name:           sparkling-water-skwong_local-1579214248571
H2O cluster total nodes:    1
H2O cluster free memory:    910 Mb
H2O cluster total cores:    12
H2O cluster allowed cores:  12
H2O cluster status:         accepting new members, healthy
H2O connection url:         http://10.1.150.140:54323
H2O connection proxy:
H2O internal security:      False
H2O API Extensions:         XGBoost, Algos, Amazon S3, AutoML, Core V3, TargetEncoder, Core V4
Python version:             3.7.4 final
--------------------------  ------------------------------------------------------------------

Sparkling Water Context:
 * Sparkling Water Version: 3.28.0.1-1-2.4
 * H2O name: sparkling-water-skwong_local-1579214248571
 * cluster size: 1
 * list of used nodes:
  (executorId, host, port)
  ------------------------
  (driver,10.1.150.140,54323)
  ------------------------

  Open H2O Flow in browser: http://10.1.150.140:54323 (CMD + click in Mac OSX)

In [5]:
access_key = 'AKIAWOHFNKOOOHDEROZ4'
secret_key = getpass.getpass()

········

In [6]:
sc._jsc.hadoopConfiguration().set("fs.s3.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem")
sc._jsc.hadoopConfiguration().set('fs.s3a.access.key', access_key)
sc._jsc.hadoopConfiguration().set('fs.s3a.secret.key', secret_key)

In [9]:
def median_by_state(data, median_col):
    '''
    Gather the Median by state for a table that has a median by state and county
    data - the csv data set that is used from the census
    median_col - the column we want to median by state for
    '''
    # Gets coluns needed in order to do the median by state
    data_reduced = data.select(['State','County','TotalPop',median_col])
    
    #Gets the cumulative sum
    data_reduced_w_cum_sum = data_reduced.orderBy(['State',median_col,'TotalPop'])\
                  .withColumn('cumsum_total',sf.sum(data_reduced.TotalPop)\
                              .over(Window.partitionBy('State')\
                              .rowsBetween(-sys.maxsize, 0)))\
                 .withColumn('state_total_pop',sf.sum(data_reduced.TotalPop)\
                              .over(Window.partitionBy('State')))
    
    # Gets median population
    final_table = data_reduced_w_cum_sum\
                         .withColumn('median_pop',sf.ceil(data_reduced_w_cum_sum['state_total_pop']/2))
    
    #gets the median of every state
    final_table = final_table\
                 .withColumn('marker',final_table['median_pop'] >= final_table['cumsum_total'])
    final_table = final_table\
                 .withColumn('marker2',sf.lag(final_table['marker'])\
                             .over(Window.partitionBy('State').orderBy(['State','cumsum_total'])))
    final_table = final_table.filter((final_table['marker']==False) & (final_table['marker2']==True)).\
                select(['State',median_col])
    
    return final_table

In [24]:
med_income_by_state = ss.read.csv("s3a://msds-durian-candy/census/acs2015_county_data.csv.gz", header=True)
median_by_state(med_income_by_state,'Income').show()

+------------+-------+
|       State| Income|
+------------+-------+
|        Utah|62117.0|
|      Hawaii|74460.0|
|   Minnesota|65834.0|
|        Ohio|49013.0|
|    Arkansas|41268.0|
|      Oregon|51223.0|
|       Texas|54457.0|
|North Dakota|54559.0|
|Pennsylvania|53040.0|
| Connecticut|66395.0|
|    Nebraska|52250.0|
|     Vermont|53869.0|
|      Nevada|51575.0|
| Puerto Rico|18609.0|
|  Washington|60756.0|
|    Illinois|55251.0|
|    Oklahoma|47437.0|
|    Delaware|65476.0|
|      Alaska|72983.0|
|  New Mexico|47725.0|
+------------+-------+
only showing top 20 rows

In [22]:
med_income_by_state = ss.read.csv("s3a://msds-durian-candy/census/acs2017_county_data.csv.gz", header=True)
median_by_state(med_income_by_state,'Income').show()

+------------+------+
|       State|Income|
+------------+------+
|        Utah| 67922|
|      Hawaii| 80078|
|   Minnesota| 71154|
|        Ohio| 52389|
|    Arkansas| 43504|
|      Oregon| 58392|
|       Texas| 57791|
|North Dakota| 58767|
|Pennsylvania| 56702|
| Connecticut| 69936|
|    Nebraska| 55875|
|     Vermont| 56828|
|      Nevada| 54882|
| Puerto Rico| 18900|
|  Washington| 67832|
|    Illinois| 59426|
|    Oklahoma| 50762|
|    Delaware| 68336|
|      Alaska| 76250|
|  New Mexico| 50386|
+------------+------+
only showing top 20 rows